VITE_GROOM_NAME="Novio"
VITE_BRIDE_NAME="Novia"
VITE_WEDDING_DATE="2024-12-31T12:00:00"

VITE_BANK_NAME="Banco"
VITE_BANK_ACCOUNT="00000000000000"
VITE_BANK_OWNER="Titular"

VITE_CEREMONY_URL_GOOGLE="https://maps.google.com/..."
VITE_CEREMONY_URL_WAZE="https://waze.com/..."
VITE_RECEPTION_URL_GOOGLE="https://maps.google.com/..."
VITE_RECEPTION_URL_WAZE="https://waze.com/..."
